# ====================================================================
# ПОЛНЫЙ ШАБЛОН ПЕРЕМЕННЫХ ОКРУЖЕНИЯ (.env.template)
# ====================================================================

# Настройки Django
SECRET_KEY="your_django_secret_key_here"
DEBUG=True

# Настройки СУБД PostgreSQL
DB_NAME=lms_db
DB_USER=postgres
DB_PASSWORD="your_postgres_password_here"
DB_PORT=5432

# Настройки брокера Celery & Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Интеграция с мессенджером Telegram
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"
